header.private-navigation {
  margin: 0;
}
.private-navigation-aside {
  transform: translateX(-300px);
  transition: transform .3s .3s ease-in-out;
  &.show {
    transform: translateX(0);
    transition: transform .3s .3s ease-in-out;
    .burger-logo-group {
      transition: transform .3s .3s ease-in-out;
      transform: translateX(0);
      a .logo-company-group {
        color: $color-white;
      }
      .burger {
        span {
          background-color: $color-white;
          &:nth-child(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            transition: top 0.125s, transform 0.125s 0.25s, background-color .1s .3s ease;
          }
          &:nth-child(2) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            transition: top 0.125s, transform 0.125s 0.25s, background-color .1s .3s ease;
          }
          &:nth-child(3) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            transition: top 0.125s, transform 0.125s 0.25s, background-color .1s .3s ease;
          }
        }
      }
    }
  }
  font-size: 1rem;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: $color-linear-gradient-primary;
  padding: 20px 0;
  color: $color-white;
  h3 {
    font-size: 1em;
    text-transform: uppercase;
    margin: 20px 0 10px;
    padding: 0 20px;
    color: $color-grey;
  }
  h3.title-border-top {
    border-top: 1px solid $color-grey;
    padding-top: 20px;
  }
  li {
    padding: 0 20px;
  }
  a {
    display: flex;
    align-items: center;
    color: inherit;
    margin: 5px 0;
    padding: 10px 0;
    font-size: .9em;
    text-transform: uppercase;
    i {
      font-size: 1.7em;
      margin-right: 20px;
      width: 25px;
    }
  }
  ul.private-navigation-main-menu {
    li {
      transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:nth-child(1) i {
        font-size: 1.7em;
      }
      &:nth-child(2) i, &:nth-child(3) i, &:nth-child(4) i {
        font-size: 1.5em;
      }
      &:hover {
        color: $color-gold;
        transform: translateX(10px);
      }
      &:last-child {
        text-transform: uppercase;
        font-size: .9em;
        display: flex;
        align-items: center;
        padding: 10px 20px 0;
        i {
          font-size: 1.7em;
          margin-right: 20px;
          width: 25px;
        }
        .flag-lang-group {
          display: flex;
          margin-left: 20px;
          a {
            margin: 0;
            padding: 0;
            .flag-lang-item {
              height: 20px;
              width: 20px;
              margin-left: 10px;
            }
          }
        }
        &:hover {
          color: $color-white;
          transform: none;
        }
      }
    }
  }
  ul.private-navigation-private-menu {
    li {
      transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
      &.active {
        color: $color-gold;
        border-left: 3px solid;
        &:hover {
          transform: translateX(0);
        }
      }
      &:nth-child(1) i {
        font-size: 1.8em;
      }
      &:nth-child(2) i {
        font-size: 1.5em;
      }
      &:hover {
        color: $color-gold;
        transform: translateX(10px);
      }
      a {
        margin: 30px 0;
        padding: 0;
      }
    }
  }

  .burger-logo-group {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    transform: translateX(300px);
    transition: transform .3s .3s ease-in-out;
    padding: 0 20px;
    a {
      margin: 0;
      padding: 0;
    }
    .burger {
      height: 38px;
      width: 30px;
      margin-right: 15px;
      cursor: pointer;
      position: relative;
      span {
        width: 30px;
        height: 3px;
        position: absolute;
        background-color: $color-primary;
        transform: translate(-50%, -50%);
        left: 50%;
        border-radius: 2px;
      
        &:nth-child(1) {
          top: 25%;
          transition: top 0.125s 0.25s, transform 0.125s, background-color .1s .3s ease;
        }
        &:nth-child(2) {
          top: 50%;
          transition: top 0.125s 0.25s, transform 0.125s, background-color .1s .3s ease;
        }
        &:nth-child(3) {
          top: 75%;
          transition: top 0.125s 0.25s, transform 0.125s, background-color .1s .3s ease;
        }
      }
    }
    a .logo-company-group {
      display: flex;
      align-items: center;
      font-family: $font-roboto;
      text-transform: uppercase;
      color: $color-primary;
      i.fa.fa-home {
        font-size: 2.7em;
        margin-right: 5px;
        line-height: 0;
        width: initial;
      }
      h1 {
        font-size: 1.2em;
        line-height: 1;
      }
    }
  }
}