{% extends 'base.html.twig' %}

{% block title %}{{ "private area" | trans | capitalize }} - {{ "Real estate agency" | trans }} {% endblock %}


{% block body %}
<main id="private-area-main">
	{% include "private_area/_header_user.html.twig" %}
	<h2>Bonjour, bienvenue dans votre espace privé</h2>
</main>
{% endblock %}
