.faq-group {
  font-size: 1rem;
  @media screen and (max-width: 768px) {
    font-size: .9em;
  }
  @media screen and (max-width: 576px) {
    font-size: .8em;
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: $color-primary;
    height: var(--navbar-height);
    margin: calc(2 * #{var(--navbar-height)}) auto var(--navbar-height);
    font-size: 2.5em;
    font-weight: bold;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
    font-weight: bold;
  }
  .faq-item {
    height: var(--navbar-height);
    padding: .5em 1.25em;
    @include flex-between;
    margin-bottom: 10px;
  }
  .faq-menu-group {
    margin-bottom: var(--navbar-height);
    a {
      background-color: $color-white;
      color: $color-primary;
      border: 2px solid $color-primary;
      border-radius: 10px;
      box-shadow: 0 3px 6px rgba($color-black, .3);
      transition: all .3s ease;
      &:hover {
        background-color: $color-primary;
        color: $color-white;
        transform: translateX(10px);
      }
    }
  }
  .faq-question-group {
    .faq-category {
      .faq-category-title {
        background-color: $color-primary;
        color: $color-white;
        border-radius: 2px;
        box-shadow: 0 2px 6px rgba($color-black, .15);
        margin-top: var(--navbar-height);
        i {
          color: $color-white;
          font-size: 1.4em;
        }
      }
      .faq-question-answer {
        .faq-question {
          border-bottom: 3px solid $color-primary;
          margin-bottom: 1.5em;
          background-color: rgba($color-grey, .01);
          transition: all .3s ease;
          &:hover, &.show {
            background-color: rgba($color-grey, .3);
          }
          [data-toggle="chevron-faq"] {
            cursor: pointer;
            font-size: 1.4em;
            transform: rotateZ(0);
            transition: all .7s ease-in-out;
            &.show {
              transform: rotateZ(540deg);
            }
          }
        }
        p.faq-answer-content {
          font-size: 1em;
          height: 0;
          padding: 0 20px;
          overflow: hidden;
          transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
          &.show {
            padding: 0 20px 20px;
            height: fit-content;
          }
        }
      }
    }
  }
  .faq-other-question {
    height: 30vh;
    @include flex-center;
  }

}
