// Settings
body {
	margin: 0;
	box-sizing: border-box;
	font-family: $font-open;
	font-size: 16px;
}
main {
	min-height: calc(100vh - #{$navbar-height} - #{$navbar-top} - #{$footer-height});

}
ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

p {
	font-family: $font-open;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: $font-roboto;
}

section {
	margin: 10px 15%;
  @media screen and (max-width: 1400px) {
    margin: 10px 2%;
  }
}