// Settings
body {
	margin: 0;
	box-sizing: border-box;
	font-family: $font-open;
	font-size: 16px;
}
body.private-area-body {
	padding: 6rem 1rem 0;
	overflow-y: hidden;
	@media screen and (max-width: 768px) {
    padding-top: 4.5rem;;
  }
}
main {
	min-height: calc(100vh - #{var(--navbar-height)} - #{$navbar-top} - #{$footer-height});

}
ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

p {
	font-family: $font-open;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: $font-roboto;
}

section {
	margin: 10px 15%;
  @media screen and (max-width: 1400px) {
    margin: 10px 2%;
  }
}

.select2-container {
	z-index: 100000;
	width: 100% !important;
	min-height: var(--navbar-height);
}
.select2-selection--multiple {
	border: 1px solid $color-CCCCCC !important;
}
