// Variables

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
$font-open: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// Colors
$color-primary: #33404A;
$color-secondary: #6399C2;
$color-grey: #7E8991;
$color-white: #F3F3F3;
$color-gold: #C29C63;
$color-brown: #755524;

$color-CCCCCC: #CCCCCC;
$color-f1f1f1: #F1F1F1;
$color-efefef: #EFEFEF;
$color-f2f2f2: #F2F2F2;

$color-black: #000000;
$color-yellow: #F2B90C;
$color-green: #238C2A;
$color-blue: #1835D9;
$color-red: #BF0B3B;

$color-linear-gradient-primary: linear-gradient(180deg, $color-primary 0%, rgba(10,13,15,1) 100%);

// Sizes
$navbar-height: 50px;
$navbar-height-mobile: 35px;
$navbar-top: 170px;
$footer-height: 260px;

