<footer>
		<div class="logo-company-group">
			<i class="fa fa-home"></i>
			<h1><strong>agence</strong><br>immobilière</h1>
		</div>
		<div class="footer-group-1">
			<div class="footer-menu">
				<h3>Menu</h3>
				<ul>
					<li><a href="" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Annonces</a></li>
					<li><a href="" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Propriétaire privé</a></li>
					<li><a href="" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Faire gérer</a></li>
					<li><a href="" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;FAQ</a></li>
					<li><a href="" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Contact</a></li>
				</ul>
			</div>
			<div class="footer-confidentiality">
				<h3>Confidentialité</h3>
				<ul>
					<li><a href="" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Informations légales</a></li>
					<li><a href="" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Politique de protection des données</a></li>
					<li><a href="" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Politique de cookies</a></li>
					<li><a href="" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Gestion des cookies</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-group-2">
			<div class="agencies-partners-group">
				<div class="footer-agencies">
					<h3>Nos agences</h3>
					<ul>
						<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Agence 1</a></li>
						<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Agence 2</a></li>
						<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Agence 3</a></li>
						<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Agence 4</a></li>
					</ul>	
				</div>
				<div class="footer-partners-social-media">
					<h3>Nos partenaires</h3>
					<ul>
						<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Partenaire 1</a></li>
							<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Partenaire 2</a></li>
							<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Partenaire 3</a></li>
							<li><a href="#" class="footer-item"><i class="fa fa-chevron-right"></i>&nbsp;Partenaire 4</a></li>
					</ul>
					<div class="footer-social-media">
						<a href="#"><i class="fa fa-instagram"></i></a></i>
						<a href="#"><i class="fa fa-facebook-square"></i></a>
						<a href="#"><i class="fa fa-twitter-square"></i></a>
						<a href="#"><i class="fa fa-linkedin-square"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>