.modal-content-property-view {
  width: 60%;
  height: 60vh;
  @media screen and (max-width: 992px) {
    width: 80%;
    height: 50vh;
  }
  @media screen and (max-width: 576px) {
    width: 95%;
    height: 40vh;
  }
  position: relative;
  .carousel.slide .carousel-inner {
    border-radius: 10px;
    filter: none;
  }
}