.message-alert {
  top: 0;
  left: 20%;
  position: absolute;
  z-index: 10000;
  display: flex;
  align-items: center;
  width: 300px;
  color: $color-f1f1f1;
  border-radius: 4px;
  box-shadow: 0 3px 6px $color-CCCCCC;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  &.show {
    opacity: 1;
    visibility: visible;
    animation: show-alert 1.5s ease 1 forwards, hidde-alert 1s 10s ease forwards;
  }
  span {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: transparentize($color-black, .7);
    @include flex-center;
    .fa.fa-close {
      margin-bottom: .125rem;
    }
  }
  p {
    font-family: $font-open;
    font-size: .8rem;
    font-weight: 500;
    max-width: 75%;
  }
  .modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: $color-white;
    z-index: 1000;
  }
}
.message-alert-success {
  background-color: rgba($color-green, .9);
}

.message-alert-danger {
  background-color: rgba($color-red, .9);
}

@keyframes show-alert {
  to {
    top: 100px;
  }
}

@keyframes hidde-alert {
  to {
    opacity: 0;
    visibility: hidden;
  }
}