.button {
	@include flex-center;
	height: 36px; 
	width: 180px;
	margin: 10px;
	cursor: pointer;
	font-family: $font-roboto;
	font-size: .9em;
	font-weight: 500;
	text-transform: uppercase;
	background: $color-primary;
	color: $color-white;
	border: solid 2px $color-primary; 
	box-shadow: 0 3px 6px rgba($color-primary, .5); 
	transition: all .3s ease;
	&:hover {
		background: $color-white;
		color: $color-primary;
		transform: scale(1.03);
	}
}

.button-rounded {
	border-radius: 18px;
}

.button-outline {
	background: $color-white;
	color: $color-primary;
	&:hover {
		background:  $color-primary;
		color: $color-white;
	}
}

.button-small {
	width: 140px;
	height: 30px;
	font-size: .8rem;
}
.button-fit {
	width: initial;
	padding: 0 1em;
}

.button-circle {
	height: 140px;
	width: 140px;
	border-radius: 50%;
	border: solid 2px $color-primary; 
	box-shadow: 0 3px 6px rgba($color-primary, .5);
	@include flex-center;
	flex-direction: column;
	text-transform: uppercase;
	background-color: $color-primary;
	color: $color-white;
	font-family: $font-roboto;
	text-align: center;
	transition: all .3s ease;
	@media screen and (max-width: 768px) {
		width: 90px;
		height: 90px;
		font-size: .7rem;
	}
	i.fa.fa-plus-circle {
		margin-top: 5px;
		font-size: 1.5rem;
		@media screen and (max-width: 768px) {
			font-size: 1.1rem;
		}
	}
	&:hover {
		background-color: $color-white;
		color: $color-primary;
		transform: scale(1.03);
	}
}