.carousel.slide {
  margin-bottom: 250px;
  position: relative;
  .carousel-indicators {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  .carousel-inner {
    filter: brightness(.5);
    .carousel-item .d-block.w-100 {
      height: 60vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  .slogan {
    position: absolute;
    right: 10vw;
    max-width: 300px;
    margin-left: 10vw;
    top: 50%;
    background-color: transparentize($color-primary, .25);
    padding: 2rem;
    color: $color-white;
    box-shadow: 0 3px 6px rgba(#000000, .7);
    h2 {
      font-family: $font-roboto;
    }
    p {
      max-height: 250px;
      overflow-y: auto;
      padding-right: 5px;
    }
    @media screen and (max-width: 992px) {
      padding: 1.5rem;
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: .8rem;
      }
    }
  }
}