.slider-top-section {
  margin: 0;
}
.carousel.slide {
  margin-bottom: 22vh;
  position: relative;
  .carousel-indicators {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  .carousel-inner {
    filter: brightness(.5);
    .carousel-item {
      .carousel-img {
        height: 60vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        width: 100%;
      }
    }
  }
  .slogan {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10vw;
    width: 300px;
    margin-left: 10vw;
    top: 40vh;
    height: 40vh;
    background-color: transparentize($color-primary, .25);
    padding: 1.3em;;
    color: $color-white;
    box-shadow: 0 3px 6px rgba(#000000, .7);
    h2 {
      font-family: $font-roboto;
      margin-bottom: .5em;
      font-size: 1.5em;
    }
    p {
      font-size: .9em;
      overflow-y: auto;
      padding-right: 5px;
    }
    @media screen and (max-width: 992px) {
      font-size: .8rem;
      width: 250px;
    }
  }
}