table {
  font-size: 1rem;
  color: $color-primary;
  // width: 100%;
}
th, td {
  padding: 5px 10px;
}
th {
  font-size: .9em;
  font-family: $font-roboto;
  line-height: 1;
}
td {
  font-size: .8em;
}
thead {
  border-bottom: 2px solid;
}
tr {
  border-bottom: 1px solid $color-grey;
}
.header-btn-sort-group {
  display: flex;
  align-items: center;
  .table-sort-buttons {
    a {
      color: $color-gold;
      line-height: 1;
      font-size: 1.5em;
      display: block;
      cursor: pointer;
      &:first-child {
        margin-bottom: -6px;
      }
      i.fa.fa-caret-up {
        padding: 5px 5px 0 5px;
      }
      i.fa.fa-caret-down {
        padding: 0 5px 5px 5px;
      }
      &:hover {
        transform: scale(1.3);
        color: $color-brown;
      }
    }
  }
}
.table-td-actions {
  font-size: 1.6em;
  display: flex;
  a {
    color: $color-primary;
    i {
      padding: 5px 5px 5px 0;
      cursor: pointer;
      transition: all .1s ease;
      &:hover {
        transform: scale(1.2);
        opacity: .8;
      }
    }
  }
  + .toggle-switch-button {
    font-size: .8rem;
    grid-area: 6 / 4 / 8 / 5;
    align-self: center;
  }
}
.table-responsive-container {
  height: 100%;
  max-width: 100%;
  width: fit-content;
  overflow: auto;
}