#calendar {
  min-width: 350px;
  max-width: 800px;
  height: 60vh;
  margin-top: 20px;
  .fc-toolbar-title {
    text-transform: capitalize;
    border: none;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 50px;
  } 
  button {
    padding: 0 5px;
    font-size: .8em;
  }
  .fc-next-button, .fc-prev-button {
    padding: 0;
  }
  .fc-icon {
    font-size: 1.2em;
  }
}
.input-horizontal-group {
  display: flex;
}
.input-radio-group {
  input[type="radio"] {
    display: block;
  }
  input[type="radio"] + label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0!important;
    span {
      height: 20px;
      width: 20px;
      margin-right: 10px;
      border-radius: 50%;
      padding: 7px;
      box-shadow: 0 2px 3px rgba($color-black, .3);
      cursor: pointer;
      .modal-header-color {
        opacity: 0;
      }
    }
  }
  input[type="radio"]:checked + label span .modal-header-color {
    opacity: 1;
  } 
}