.document-title-link {
  color: $color-primary;
  i {
    font-size: 1.5em;
  }
  &:hover {
    opacity: .75;
  }
}

#modal-add-document, #modal-manage-users-access {
  .modal-body {
    text-align: left;
  }
  input[type="File"] {
    opacity: 0;
    height: 0;
    width: 0;
    + label .input-file-button {
      margin-left: 0px;
    }
  }
  span#input-file-container {
    border: 1px solid $color-CCCCCC;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 50px;
    min-width: 50%;
    span.clear-input-file-content i {
      @include flex-center;
      height: 25px;
      width: 25px;
      margin: 5px;
      font-size: 1.2em;
      border-radius: 50%;
      cursor: pointer;
      background-color: $color-grey;
      color: $color-white;
      box-shadow: 0 3px 6px rgba($color-black, .2);
    }
    span.input-file-item {
      margin: 5px;
      padding: 5px 10px;
      color: $color-white;
      background-color: $color-grey;
      border-radius: 4px;
      box-shadow: 0 3px 6px rgba($color-black, .15);
    }
    + ul {
      list-style: inside;
      font-size: .8em;
      color: $color-grey;
      margin-left: 5px;
    }
  }
  span.current-files {
    border: 1px solid $color-CCCCCC;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 50px;
    span.current-file-item {
      margin: 10px;
      height: 80px;
      width: 120px;
      @include img-cover;
      position: relative;
      i.fa.fa-trash {
        position: absolute;
      top: 50%;
      left: 50%;
      font-size: 2em;
      transform: translate(-50%, -50%);
      color: $color-white;
      cursor: pointer;
      }
    }
  }
}