main#private-area-main {
  .private-area-form {
    height: calc(100vh - 8em);
    overflow-y: auto;
  }
  .input-horizontal-group {
    display: flex;
    flex-wrap: wrap;
    input[type="checkbox"] + label, input[type="radio"] + label {
      margin: 5px 20px 0 0;
      font-size: .9em;
      div span, span {
        margin-right: 5px;
      }
    }
  }
  select {
    font-size: .9em;
  }
  .form-control-input {
    height: 35px;
  }
  .input-number-group {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .form-control-group {
      margin: 10px 20px 0 0;
      width: 150px;
    }
  }
}