main#private-area-main {
  min-height: initial;
  height: calc(100vh - 12em);
  margin: 6em 20px;
  margin-left: 20px;
  transition: margin-left .3s .3s ease-in-out;
  &.show {
    transition: margin-left .3s .3s ease-in-out;
    margin-left: 320px;
  }
  color: $color-primary;
  h1 {
    text-align: center;
    margin: 0 auto 1em;
    max-width: 600px;
  }
  .top-right-user {
    position: absolute;
    top: 20px;
    right: 2%;
    display: flex;
    align-items: center;
    h3 {
      font-size: 1.3em;
      display: block;
      @media screen and (max-width: 576px) {
        display: none;
      }
    }
    i {
      margin-left: 10px;
      font-size: 1.3em;
    }
    a {
      color: $color-primary;
      display: flex;
      align-items: center;
      &:hover {
        opacity: .75;
      }
    }
  }
  h2 {
    color: $color-primary;
    padding-bottom: 20px;
    border-bottom: 2px solid;
  }
  .view-informations {
    padding: 20px;
    width: fit-content;
    max-height: 800px;
    overflow-y: auto;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
    display: flex;
    @media screen and (max-width: 768px){
      flex-direction: column;
    }
    h3 {
      font-size: 1.5em;
      margin: 20px 0 10px;
    }
    ul {
      list-style: inside;
      margin-left: 10px;
    }
    .view-informations-group-1 {
      padding-right: 20px;
      max-width: 450px;
      h6 {
        color: $color-grey;
      }
      p {
        text-align: justify;
      }
    }
  }
  .property-view-options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    max-width: 400px;
    span {
      display: block;
      background-color: $color-grey;
      color: $color-white;
      padding: .3em .625em;
      border-radius: 4px;
      margin: .3em .625em .3em 0;
      box-shadow: 0 3px 6px rgba($color-black, .15);
    }
  }
  .energy-ges-property-view-group {
    font-size: .8rem;
  }
  .property-view-energy, .property-view-ges {
    display: flex;
    align-items: center;
    margin: 1em 0 2em;
    span {
      display: block;
      position: relative;
      padding: .625em;
      margin-right: .3em;
      height: 2.25em;
      width: 2.25em;
      line-height: 1;
      color: $color-white;
      font-weight: bold;
      text-align: center;
      border-radius: .3em;
      box-shadow: 0 3px 6px rgba($color-black, .15);
      i.fa.fa-caret-up {
        position: absolute;
        left: 50%;
        bottom: -20px;
        transform: translateX(-50%);
        color: #555555;
      }
    }
  }
  .property-view-energy {
    span:nth-child(1) {
      background-color: #009C6D;
    }
    span:nth-child(2) {
      background-color: #52B153;
    }
    span:nth-child(3) {
      background-color: #78BD76;
    }
    span:nth-child(4) {
      background-color: #F4E70F;
    }
    span:nth-child(5) {
      background-color: #F0B50F;
    }
    span:nth-child(6) {
      background-color: #EB8235;
    }
    span:nth-child(7) {
      background-color: #D7221F;
    }
  }
  .property-view-ges {

    span:nth-child(1) {
      background-color: #A4DbF8;
    }
    span:nth-child(2) {
      background-color: #8CB4D3;
    }
    span:nth-child(3) {
      background-color: #7792B1;
    }
    span:nth-child(4) {
      background-color: #606F8F;
    }
    span:nth-child(5) {
      background-color: #4D5271;
    }
    span:nth-child(6) {
      background-color: #393551;
    }
    span:nth-child(7) {
      background-color: #281B35;
    }
  }
}


// Style filter
.actions-buttons-group {
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
  }
}

.filter-group {
  position: relative;
  font-size: .9em;
  .button-filter {
    margin-left: 0;
    margin-right: 0;
  }
  .filter-list-group {
    position: absolute;
    top: 0;
    right: 150px;
    z-index: 10;
    background-color: #f6f6f6;
    padding: 5px;
    font-size: .9em;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(black, .5);
    width: 100%;
    max-width: 200px;
    display: none;
    &.show {
      display: block;
    }
    > ul {
      max-height: 70vh;
      overflow-y: auto;
      > li {
        > .input-checkbox-group {
          border-bottom: 1px solid $color-grey;
          padding-bottom: 5px;
        }
        ul {
          max-height: 200px;
          overflow: auto;
          display: none;
          &.show {
            display: block;
          }
        }
        li {
          font-size: .9em;
          padding-left: 10px;
          .input-checkbox-group {
            margin-top: 0;
          }
          &:hover {
            background-color: rgba($color-grey, .15);
          }
        }
      }
    }
    .filter-top-button-group {
      display: flex;
    }
  }
  ul.input-filter-number-group {
    font-size: .7rem;
    li {
      padding-top: 5px;
      padding-right: 10px;
    }
    input[type="number"] {
      width: 100%;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 3px rgba($color-primary, .15);
    }
  }
}