.tenant-view-informations {
  padding: 20px;
  width: fit-content;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
  h3 {
    font-size: 1.5em;
    margin: 20px 0 10px;
  }
  ul {
    list-style: inside;
    margin-left: 10px;
  }
}